<h2>Welcome Back, Please Log In</h2>

<form action="/login" method="post">
  Username: <input type="text" name="username">
  Password: <input type="text" name="password">
  <button id="Log In" value="submit" type="submit">Log In</button>
</form>