<h2>Add a New Player (names must be unique)</h2>

<form action="/players" method="post">
  Name: <input type="text" name="name">
  Age: <input type="integer" name="age">
  Experience: <input type="text" name="experience">
  Instrument: <input type="text" name="instrument">
  <button type="submit" name="submit" value="save">Save</button><button type="submit" name="submit" value="save many">Save and Add Another</button>
</form>