<h2>Create a New Ensemble:</h2>

<form action="/ensembles" method="post">
  Name: <input type="text" name="name">
  City: <input type="text" name="city">
  <button id="Create" type="submit" value="submit">Create</button>
</form>